<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='flexbox.css')}}" />

    </head>
  
    
<svg width="300" height="100" xmlns="http://www.w3.org/2000/svg">
    <rect class="rectangle" x="10" y="10" rx="20" ry="20" />
  </svg>
  
    <svg width="2300" height="1000" xmlns="http://www.w3.org/2000/svg">
        <rect width="814" height="19000" x="1" y="10" rx="2" ry="20" fill="pink"/>
    </svg>


      <img src="./images/Dorm Room Delights.jpg" alt="Logo" 
      width = "50" height = "50"
      style="position:fixed; top:40px; left:35px">




        

     
</html>