<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Example</title>
</head>
<body>
    <form method="post" action="/submit">
        <label for="username_input">Username:</label>
        <input type="text" id="username_input" name="username_input">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
        <label for="password">password:</label>
        <input type="text" id="password" name="password">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
